@model AutomationDashboardMVC.Models.UIAutomationAggregate
@using AutomationDashboardMVC.Models
@using Microsoft.AspNet.Identity
@using System.Linq
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Automation Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" ---->
    <link rel="shortcut icon" href="http://www.aurigo.com/wp-content/themes/dazzling/fav_icon.png" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" id="primaryNav">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 24px;"></span>&nbsp;&nbsp;Automation Dashboard</a>

        <img src="http://www.aurigo.com/wp-content/uploads/2015/12/logomain.png" alt="Company Logo" id="companyLogo" class="pull-right" />

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/Home/GetDataForTeam/@Model.CurrentTeam.TeamId">UI</a></li>
                    <li><a href="/Home/PageUnderConstruction">API</a></li>
                    <li><a href="/Home/PageUnderConstruction">Mobile</a></li>
                    <li><a href="/Home/PageUnderConstruction">Perf</a></li>
                    <li><a href="/Home/PageUnderConstruction">Security</a></li>
                    <li><a href="~/CodeCoverage/FullPassReport@1812_UploadModule_Merged.html" target="_blank">Code Coverage</a></li>
                    <li><a href="/Home/Sentinel">Sentinel</a></li>
                    <li><a href="/Home/About?CurrentTeamId=@Model.CurrentTeam.TeamId">Team</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/GetOptimusDocumentation" target="_blank">Optimus Docs</a></li>
                            <li><a href="/Home/GetParallelExecDocs" target="_blank">Parallel Docs</a></li>
                            <li><a href="/Home/GetFlowChart" target="_blank">Flowchart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Home/GetOptimusArchitecture" target="_blank">Optimus Architecture</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    <li class="btn-group">
                        <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/InitiateAutomation">InitiateAutomation</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </nav>
    <div class="container-fluid" id="main">
        <div class="">
            <div id="mainSidebar" class="col-sm-2">
                <!-- Single button -->
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
                        <div class="btn-group ProjectDropdown">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Model.CurrentTeam.TeamName <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu ProjectDropdown">
                                @foreach (var Team in Model.productTeams)
                                {
                                    <li id="@Team.TeamId"><a href="/Home/GetDataForTeam/@Team.TeamId">@Team.TeamName</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
                        <div class='card'>
                            <div class='card-block'>
                                <h4 class='card-title'>Total TFS Tests</h4>
                                <p class='card-text'>@Model.TotalTFSTests</p>
                            </div>
                        </div>
                        <hr />
                        <div class='card'>
                            <div class='card-block'>
                                <h4 class='card-title'>Total Automated Tests</h4>
                                <p class='card-text'>@Model.TotalAutomatedTests</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a class="btn btn-warning" id="GetLatestLink" data-toggle="modal" data-target="#login-modal">Get Latest Data</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10" id="content">

                <div class="container-fluid">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#overview" data-toggle="tab" class="OverviewATag">Overview</a>
                        </li>
                        <li>
                            <a href="#AllResults" data-toggle="tab" id="AllResultsTab">Product Area Details</a>
                        </li>
                        @if (Model.CurrentTeam.TeamId == 1)
                        {
                            <li>
                                <a href="#coreModSmokes" data-toggle="tab">Core Mod Smoke Results</a>
                            </li>
                        }
                        <li>
                            <a href="#smokeResults" data-toggle="tab">Smoke Results</a>
                        </li>
                        <li>
                            <a href="#weeklyResults" data-toggle="tab">Fullpass Results</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active overview" id="overview">
                            <div class="row TeamModuleDDN">
                                <div class="col-sm-3 text-left">

                                </div>
                                <div class="dropdown col-sm-8 text-center">
                                    <div class="col-sm-3 col-lg-3">
                                        <h4 style="display:inline-block;">Product Area</h4>
                                    </div>
                                    <div class="col-sm-9 col-lg-9 text-left">
                                        <button class="btn btn-primary dropdown-toggle PAdDropDown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            All
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu ddnProductArea" aria-labelledby="dropdownMenu1">
                                            <li id="All_@Model.CurrentTeam.TeamId"><a href="#">All</a></li>
                                            @foreach (var row in Model.testSuites)
                                            {
                                                if (row.TotalTests > 0 || row.TotalAutomatedTests > 0)
                                                {
                                                    <li id="@row.SuiteId"><a href="#">@row.SuiteName</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-12 text-center" id="AOLoadingGif">
                                    <img src="~/Content/cube.gif" alt="Loading..." />
                                </div>
                                <div class="col-lg-offset-2 col-sm-offset-2 col-sm-8 col-lg-8 ChartDiv text-center">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="smokeResults">
                            <h1 style="text-align:center">Daily Smokes Results</h1>
                            <br />
                            <table class="table table-bordered table-striped" align="center" style="width:70% ">
                                <tr>
                                    <th style="text-align:center">Date</th>
                                    <th style="text-align:center">Statistics</th>
                                    <th style="text-align:center">Automation Reports</th>
                                </tr>
                                @foreach (var item in Model.dailySmokes)
                                {
                                    <tr>
                                        <td class="" style="text-align:center">@item.Date</td>
                                        <td class="" style="text-align:center">@item.test_run_stats</td>
                                        <td style="text-align:center">
                                            @using (Html.BeginForm("ViewResult", "Home", FormMethod.Post, new { target = "_blank" }))
                                            {
                                                <input id="ID" name="ID" type="hidden" value="@item.id">
                                                @Html.Hidden("Source", "DailySmokes")
                                                <input type="submit" value="View Report" class="btn btn-danger" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="tab-pane" id="AllResults">
                            <h3 style="text-align:center">Product Area-Wise Details</h3>
                            <br />
                            <div class="row text-center" id="AllResultsSlavesLoadingGif">
                                <img src="~/Content/cube.gif" alt="Loading..." />
                            </div>
                            <div id="tree1"><div id="tree"></div></div>

                        </div>
                        <div class="tab-pane" id="weeklyResults">
                            <h1 style="text-align:center">Weekly Run Results</h1>
                            <br />
                            <table class="table table-bordered table-striped" align="center" style="width:70%">
                                <tr>
                                    <th style="text-align:center">Date</th>
                                    <th style="text-align:center">Statistics</th>
                                    <th style="text-align:center">Automation Reports</th>
                                </tr>
                                @foreach (var item in Model.FullPass)
                                {
                                    <tr>
                                        <td class="" style="text-align:center">@item.Date</td>
                                        <td class="" style="text-align:center">@item.test_run_stats</td>
                                        <td style="text-align:center">
                                            @using (Html.BeginForm("ViewResult", "Home", FormMethod.Post, new { target = "_blank" }))
                                            {
                                                @Html.Hidden("Source", "FullPass")
                                                <input id="ID" name="ID" type="hidden" value="@item.id">
                                                <input type="submit" value="View Report" class="btn btn-danger" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="tab-pane" id="coreModSmokes">
                            <h1 style="text-align:center">Core Module Daily Smokes Results</h1>
                            <br />
                            <table class="table table-bordered table-striped" align="center" style="width:70%">
                                <tr>
                                    <th style="text-align:center">Date</th>
                                    <th style="text-align:center">Statistics</th>
                                    <th style="text-align:center">Automation Reports</th>
                                </tr>
                                @foreach (var item in Model.CoreModSmokes)
                                {
                                    <tr>
                                        <td class="" style="text-align:center">@item.Date</td>
                                        <td class="" style="text-align:center">@item.test_run_stats</td>
                                        <td style="text-align:center">
                                            @using (Html.BeginForm("ViewResult", "Home", FormMethod.Post, new { target = "_blank" }))
                                            {
                                                @Html.Hidden("Source", "CoreModSmokes")
                                                <input id="ID" name="ID" type="hidden" value="@item.id">
                                                <input type="submit" value="View Report" class="btn btn-danger" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Please enter your TFS credentials</h4><br>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" name="username" placeholder="Username" id="TFSUsername" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="password" name="password" placeholder="Password" id="TFSPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="submit" name="login" class="btn btn-success" value="Get" id="LatestButton">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="AbortButton">Abort</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
@*<script src="~/Scripts/bootstrap-treeview.js"></script>*@
<script>
    $(document).ready(function () {

        var WPLoadingGif = $('#WPLoadingGif');
        var AOLoadingGif = $('#AOLoadingGif');
        var AanimationDuration = 500;
        var AllResultsLoaded = false;

        // Select the node that will be observed for mutations
        var targetNode = document.getElementById('tree1');

        // Options for the observer (which mutations to observe)
        var config = { attributes: true, childList: true , subtree: true};

        // Callback function to execute when mutations are observed
        var callback = function(mutationsList) {
            for(var mutation of mutationsList) {
                if (mutation.type == 'childList') {

                    $('#tree li').addClass('expand-icon');
                }
                else if (mutation.type == 'attributes') {
                    //alert('The ' + mutation.attributeName + ' attribute was modified.');
                }
            }
        };

        // Create an observer instance linked to the callback function
        var observer = new MutationObserver(callback);

        // Start observing the target node for configured mutations
        observer.observe(targetNode, config);

        $('#LatestButton').click(function (e) {
            e.preventDefault();
            var user = $('#TFSUsername').val();
            var pass = $('#TFSPassword').val();

            var data = {
                username:user,
                password:pass
            };
            alert('Your request to update the data from tfs is on its way. We will notify you once that is completed');
            
            $.ajax({
                type : "POST",
                url : "/api/TFS/"+@Model.CurrentTeam.TeamId,
                data : JSON.stringify(data),
                cache:false,
                contentType: "application/json; charset=UTF-8",
                statusCode: {
                    400: function() {
                        alert('Something went wrong in the fetch request. Please make sure that the credentials provided are correct and try again.');
                    },
                    200: function() {
                        alert('Latest data from TFS is now availabe. Please refresh the page to see the updated content');
                    }
                },
            });

            $('#login-modal').modal('toggle');
        });

        $('#AllResultsTab').click(function () {
            if(!AllResultsLoaded)
            {
                var AllResultsSlavesLoadingGif = $('#AllResultsSlavesLoadingGif');
                AllResultsSlavesLoadingGif.fadeIn(500);
                $.get("/api/TestPlans/"+@Model.CurrentTeam.TeamId).success(function (result) {
                    AllResultsSlavesLoadingGif.fadeOut(500, function () {
                    }).promise().done(function () {
                        $('#tree').treeview({
                            data: result,
                            showTags: true,
                            selectedBackColor: '#ff5959',
                            selectedColor:"#ffffff",
                            onhoverColor:'#ff5959'
                        });
                        setTimeout(function() {
                            $("#tree").treeview("collapseAll", { silent: true })
                        }, 100);
                    });
                })
                .error(function(){
                    alert('Failed to load the data');
                    AllResultsSlavesLoadingGif.fadeOut(500);
                });
                AllResultsLoaded = true;
            }
        });

        $('.ProjectDropdowns li').click(function () {
            var TeamName = $(this).text();
            $('.ProjectDropdown button').text(TeamName);
            $('.ProjectDropdown button').append('  <span class="caret"></span>');
            var param = {
                "TeamId": $(this).attr('id')
            };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDataForTeam", "Home")',
                data: param
            });
        });
        var ProductArea = $(this).text();

        $.get("/api/AutomateOverview/All_"+@Model.CurrentTeam.TeamId).success(function (data) {
            AOLoadingGif.fadeIn(AanimationDuration, 'swing');
            var ctx1 = document.getElementById("myChart").getContext("2d");
            ctx1.canvas.width = 1000;
            ctx1.canvas.height = 580;

            var ProductArea = $(this).text();
            var arr = $.map(data, function (el) { return el });
            var data = JSON.parse(JSON.stringify(arr[0]));
            var ctx = document.getElementById("myChart");
            AOLoadingGif.fadeOut(AanimationDuration,'swing').promise().done(function(){
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: data,

                    options: {
                        legend: {
                            display: false,
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },

                        barPercentage: 0.9
                    }
                });
            });

        });


        //Overview chart change the dropdown option event
        $('.overview .dropdown li').click(function () {
            AOLoadingGif.fadeIn(AanimationDuration,'swing');
            var ProductArea = $(this).text();

            var id = $(this).attr('id');

            $('.PAdDropDown').text(ProductArea);
            $('.PAdDropDown').append('  <span class="caret"></span>');

            $("#myChart").remove();

            $('.ChartDiv').append('<canvas id="myChart" ></canvas>');

            var ctx1 = document.getElementById("myChart").getContext("2d");
            ctx1.canvas.width = 1000;
            ctx1.canvas.height = 550;

            $.get("/api/AutomateOverview/" + id).success(function (data) {
                var arr = $.map(data, function (el) { return el });
                var data = JSON.parse(JSON.stringify(arr[0]));
                var ctx = document.getElementById("myChart");
                AOLoadingGif.fadeOut(AanimationDuration,'swing').promise().done(function(){
                    var myChart = new Chart(ctx, {
                        type: 'bar',

                        data: data,
                        options: {
                            legend: {
                                display: false,
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            barPercentage: 0.9,
                            responsive: true,
                            title: {
                                display: false,
                                text: ProductArea + " Statistics"
                            }
                        }

                    });
                });
            });
        });
    });
</script>
