@model List<AutomationDashboardMVC.Models.TeamAutomationWeeklyProgress>
@using AutomationDashboardMVC.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Automation Dashboard</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" ---->
    <link rel="shortcut icon" href="http://www.aurigo.com/wp-content/themes/dazzling/fav_icon.png" />
    <style>
        .navbar img{
            margin:5px;
            padding-top:10px;
        }
        .navbar{
            overflow-y:hidden;
            border-radius: 0 !important;
            box-shadow: 5px 5px 5px darkgrey;
        }
        .navbar li a{
            font-size:1.5em;
            padding:15px
        }
        .Username {
            color: white;
            padding-top: 12px;
            font-size: 1.3em;
            margin-right: 10px;
        }
        #main {
        }

        #content {
            border-left: 1px solid gray;
        }

        .navbar-brand {
            font-size: 30px;
        }

        #primaryNav #companyLogo {
            height: 45px;
        }

        #mainSidebar .panel {
            border-color: #080808;
            padding: 0;
            border-radius: 0;
        }

        .grayBg {
            background: gray !important;
        }

        #mainSidebar a {
            color: #fff;
        }

            #mainSidebar a:hover {
                color: #fff;
            }

        #mainSidebar ul {
            margin: 0;
            padding: 0;
            width: 100%;
        }

            #mainSidebar ul li {
                list-style-type: none !important;
                padding: 5px 5px 5px 5px;
                font-size: 18px;
            }

        #mainSidebar #categoryPanel ul li:hover {
            background: black;
            width: 100%;
        }

        #mainSidebar .panel-body {
            padding-left: 0;
            padding-right: 0;
        }

        .tab-content table {
            border: 4px solid black;
        }

        .tab-content th {
            border: 4px solid black !important;
        }

        .tab-content td {
            border: 2px solid black !important;
        }

        .tab-pane {
            padding-top: 20px;
        }

        .helveticaFont {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }


        .card {
            position: relative;
            width: 60%;
            border: none;
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
            margin: auto;
            text-align: center;
            margin-bottom: 40px;
        }

            .card .card-block {
                position: relative;
                padding: 2rem;
            }

            .card .card-text {
                font-size: 3em;
            }

            .card .btn {
                position: absolute;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                top: 0;
                left: 50%;
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
                border-radius: 50%;
                padding: 0;
                width: 3rem;
                height: 3rem;
                -webkit-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
            }

                .card .btn .icon {
                    width: 50%;
                    height: 50%;
                    margin-left: -10%;
                    -webkit-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
                }

        #upcomingAreas ul li {
            font-size: 16px;
        }

        .ProjectDropdown {
            margin: 5px 0 10px 0;
            color: black;
            width: 100%;
        }

            .ProjectDropdown li a {
                font-size: 15px;
            }

            .ProjectDropdown button {
                width: 100%;
            }

            .ProjectDropdown li a {
                color: black !important;
            }

        .ProjectDropdown {
            left: 0px !important;
        }

        .WeeklyProgressCard {
            margin: 0;
            width: 100%;
            white-space: normal;
            padding: 0;
        }

            .WeeklyProgressCard .card-text {
                font-size: 1.2em;
            }

        .WeeklyProgressCard {
            cursor: default;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse" id="primaryNav">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 24px;"></span>&nbsp;&nbsp;Automation Dashboard &nbsp;</a>
        <img src="http://www.aurigo.com/wp-content/uploads/2015/12/logomain.png" alt="Company Logo" id="companyLogo" class="pull-right" />
        
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Index">@User.Identity.Name</a>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            }
        }
        @*else
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }*@
    </nav>
   
    <div class="container-fluid">
        <table class="table table-bordered table-hover DataTable">
            <thead>
                
                <tr>
                    <th>Project Name</th>
                    <th>Category</th>
                    <th style="font-size: 1em;" class="text-center">Added From @String.Format("{0:ddd, MMM d, yyyy}", Model[0].Date2)   to   @String.Format("{0:ddd, MMM d, yyyy}", Model[0].Date1)</th>
                    <th style="font-size: 1em;" class="text-center">Added From @String.Format("{0:ddd, MMM d, yyyy}", Model[0].Date3)   to   @String.Format("{0:ddd, MMM d, yyyy}", Model[0].Date2)</th>
                    <th style="font-size: 1em;" class="text-center">Added From @String.Format("{0:ddd, MMM d, yyyy}", Model[0].Date4)   to   @String.Format("{0:ddd, MMM d, yyyy}", Model[0].Date3)</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var team in Model)
                    {
                        <tr>
                            <td rowspan="3" class="teamName" style="font-weight:bold"><a href="/Home/GetDataForTeam/@team.TeamId">@team.TeamName</a></td>
                            <td>TestCases drafted in TFS</td>
                            <td class="text-center">@team.Week1.TFSTestCasesThisWeek</td>
                            <td class="text-center">@team.Week2.TFSTestCasesThisWeek</td>
                            <td class="text-center">@team.Week3.TFSTestCasesThisWeek</td>
                            <td class="text-center">@team.TFSTotal</td>
                            
                        </tr>
                        <tr>
                            <td>Automated Test Cases</td>
                            <td class="text-center">@team.Week1.AutomatedThisWeek</td>
                            <td class="text-center">@team.Week2.AutomatedThisWeek</td>
                            <td class="text-center">@team.Week3.AutomatedThisWeek</td>
                            <td class="text-center">@team.AutomatedTotal</td>
                        </tr>
                        <tr>
                            <td>Triaging</td>
                            <td class="text-center">@team.Week1.NoOfTestCasesDebugged</td>
                            <td class="text-center">@team.Week2.NoOfTestCasesDebugged</td>
                            <td class="text-center">@team.Week3.NoOfTestCasesDebugged</td>
                            <td class="text-center"></td>
                        </tr>
                    }
            </tbody>
        </table>
        </div>
</body>
</html>
<script>
    
</script>
<style>
    .row{
        margin:20px;
    }
    .row:hover{
        font-size:1.5em;
        background-color: #ffe6ff;

        transition: background-color 0.5s ease;
        transition: font-size 0.5s ease;

    }
    .DataTable{
        width:100%;
    }
    .DataTable tr td, .DataTable tr th{
        vertical-align: middle!important;
    }
    .DataTable tr th{
        font-size: 1.5em;
    }
    .DataTable tr:nth-child(3n), .DataTable tr:nth-last-child(3) .teamName{
        border-bottom:2px solid gray;
    }
   .teamName{
       font-size:1.5em;
   }
   table{
       margin:auto;
   }
</style>