@model AutomationDashboardMVC.Models.UIAutomationAggregate
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Automation Dashboard</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" ---->
    <link rel="shortcut icon" href="http://www.aurigo.com/wp-content/themes/dazzling/fav_icon.png" />
    <style>
        #main {
        }

        #content {
            border-left: 1px solid gray;
        }

        .navbar-brand {
            font-size: 30px;
        }

        #primaryNav #companyLogo {
            height: 45px;
        }

        #mainSidebar .panel {
            border-color: #080808;
            padding: 0;
            border-radius: 0;
        }

        .grayBg {
            background: gray !important;
        }

        #mainSidebar a {
            color: #fff;
        }

            #mainSidebar a:hover {
                color: #fff;
            }

        #mainSidebar ul {
            margin: 0;
            padding: 0;
            width: 100%;
        }

            #mainSidebar ul li {
                list-style-type: none !important;
                padding: 5px 5px 5px 5px;
                font-size: 18px;
            }

        #mainSidebar #categoryPanel ul li:hover {
            background: black;
            width: 100%;
        }

        #mainSidebar .panel-body {
            padding-left: 0;
            padding-right: 0;
        }

        .tab-content table {
            border: 4px solid black;
        }

        .tab-content th {
            border: 4px solid black !important;
        }

        .tab-content td {
            border: 2px solid black !important;
        }

        .tab-pane {
            padding-top: 20px;
        }

        .helveticaFont {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }


        .card {
            position: relative;
            width: 60%;
            border: none;
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
            margin: auto;
            text-align: center;
            margin-bottom: 40px;
        }

            .card .card-block {
                position: relative;
                padding: 2rem;
            }

            .card .card-text {
                font-size: 3em;
            }

            .card .btn {
                position: absolute;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                top: 0;
                left: 50%;
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
                border-radius: 50%;
                padding: 0;
                width: 3rem;
                height: 3rem;
                -webkit-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
            }

                .card .btn .icon {
                    width: 50%;
                    height: 50%;
                    margin-left: -10%;
                    -webkit-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
                }

        #upcomingAreas ul li {
            font-size: 16px;
        }

        .ProjectDropdown {
            margin: 5px 0 10px 0;
            color: black;
            width: 100%;
        }

            .ProjectDropdown li a {
                font-size: 15px;
            }

            .ProjectDropdown button {
                width: 100%;
            }

            .ProjectDropdown li a {
                color: black !important;
            }

        .ProjectDropdown {
            left: 0px !important;
        }

        .WeeklyProgressCard {
            margin: 0;
            width: 100%;
            white-space: normal;
            padding: 0;
        }

            .WeeklyProgressCard .card-text {
                font-size: 1.2em;
            }

        .WeeklyProgressCard {
            cursor: default;
        }

        .WeeklyProgress {
            padding: 0 !important;
            margin: 10px 0 2px 0 !important;
        }

        .WeeklyProgressDates {
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse" id="primaryNav">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 24px;"></span>&nbsp;&nbsp;Automation Dashboard &nbsp;</a>

        <img src="http://www.aurigo.com/wp-content/uploads/2015/12/logomain.png" alt="Company Logo" id="companyLogo" class="pull-right" />
    </nav>
    <div class="container-fluid" id="main">
        <div class="">
            <div id="mainSidebar" class="col-sm-2">
                <!-- Single button -->
                <div class="SelectTeamMessage text-center">
                    <h3>Select a Project</h3>
                </div>
                <div class="btn-group ProjectDropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.CurrentTeam.TeamName <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu ProjectDropdown">
                        @foreach (var Team in Model.productTeams)
                        {
                            <li id="@Team.TeamId"><a href="/Home/GetDataForTeam/@Team.TeamId">@Team.TeamName</a></li>
                        }
                    </ul>
                </div>
                <hr />
                <div class="panel grayBg" id="categoryPanel">
                    <div class="panel-body">
                        <ul class="">
                            <li><a href="/Home/GetDataForTeam/@Model.CurrentTeam.TeamId">UI Automation</a></li>
                            <li><a href="#">API Automation</a></li>
                            <li><a href="#">Performance Automation</a></li>
                            <li><a href="/Home/About?CurrentTeamId=@Model.CurrentTeam.TeamId">Automation Team</a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="card WeeklyProgressCard btn btn-primary">
                        <div class="card-block">
                            <h5 class="card-title">Last Week's Progress</h5>
                            <p class='card-text'>Test Cases Automated : @(Model.WeeklyStatus[1].TotalAutomated - @Model.WeeklyStatus[0].TotalAutomated)</p>
                            <p class='card-text'>Test Cases in TFS : @(Model.WeeklyStatus[1].TotalTFS - Model.WeeklyStatus[0].TotalTFS)</p>
                        </div>
                    </div>*@

            </div>
            <div class="col-sm-10" id="content">

                <h2>Update Automation Status Of Your Team</h2>

                @using (Html.BeginForm("UpdateTeamAutomationStatus", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-2">
                            Select a File
                        </div>
                        <div class="col-md-4">
                            <input type="file" name="AutomationStatusExcelFile" id="AutomationStatusExcelFile" accept=".xlsx" class="form-control" />
                        </div>
                    </div>
                    @Html.Hidden("TeamId", 1);
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>

</body>
</html>
<style>
    .row{
        margin:10px 0;
    }
</style>
<script>
    $(document).ready(function () {

        $('.ProjectDropdowns li').click(function () {
            var TeamName = $(this).text();
            $('.ProjectDropdown button').text(TeamName);
            $('.ProjectDropdown button').append('  <span class="caret"></span>');
            var param = {
                "TeamId": $(this).attr('id')
            };
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDataForTeam", "Home")',
                data: param
            });
        });
        var ProductArea = $(this).text();
    });
</script>
<style>
    .dropdown-toggle .caret {
        border-top-color: white;
        border-bottom-color: white;
    }

    .PAdDropDown {
        width: 40%;
    }

    .row {
        margin: 20px;
    }

    #myChart {
        margin-top: 30px;
    }

    #AllResults {
        width: 70%;
        margin: auto;
    }

    .SelectTeamMessage {
        color: black;
        margin-top: 20px;
    }

    .SelectProductAreaMessage {
        color: black;
        font-size: large;
        display: inline-block;
        margin-bottom: 5px;
        font-weight: normal;
        font-size: 18px;
    }
</style>