<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="http://www.aurigo.com/wp-content/themes/dazzling/fav_icon.png" />
    <style>
        #main {
        }

        #content {
            border-left: 1px solid gray;
        }
        .navbar{
            overflow-y:hidden;
            border-radius: 0 !important;
            box-shadow: 5px 5px 5px darkgrey;
        }
        .navbar-brand {
            font-size: 30px;
        }

        #primaryNav #companyLogo {
            height: 45px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .Username {
            color: white;
            padding-top: 12px;
            font-size: 1.3em;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" id="primaryNav">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 24px;"></span>&nbsp;&nbsp;Automation Dashboard &nbsp;</a>
        <img src="http://www.aurigo.com/wp-content/uploads/2015/12/logomain.png" alt="Company Logo" id="companyLogo" class="pull-right" />
        @if (User.Identity.IsAuthenticated)
        {
            <div class="pull-right Username">
                @User.Identity.Name
            </div>
        }
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Automation Dashboard</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
